* {
    box-sizing: border-box;
    outline: 3px solid limegreen;
}

body {
    height: 100%;
    width: 100%;
}

/* -- (Chat main Page) Header -- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.ch-header-logo {
    margin: 0px 22px;
}